@model TaskClient.Models.TaskViewModel

<div class="card text-primary">
    <div class="card-header text-center">
        <h5>ReOrdenar Tarea</h5>
    </div>
    <div class="card-body text-primary">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="ReOrdenar" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" name="id" />

                    <div class="form-group">
                        <label for="NuevoOrden" class="control-label">Nuevo Orden</label>
                        <input id="NuevoOrden" name="nuevoOrden" class="form-control" />
                    </div>

                    <div class="card-footer text-center">
                        <div class="form-group">
                            <input type="submit" value="ReOrdenar" class="btn btn-outline-primary btn-sm" />
                            <a asp-action="Index" class="btn btn-outline-success btn-sm">Volver a la lista</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

